.section-search {
    margin-top: 8rem;
}

.search {
    display: flex;
    justify-content: center;
}

.search__input {
    width: 50%;
    padding: 1.3rem;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search__button {
    padding: 0 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #14274e;
    border: 0;
}

.section-list {
    margin-top: 5rem;
}

.barber__list {
    display: flex;
    /* align-items: center; */
    padding: 3rem;
    box-shadow: 0 1rem 2rem rgba(110, 109, 109, 0.322);
    background-color: #f1f6f9;
    margin-bottom: 2rem;
    border-radius: 5px;
}

/* @media only screen and (max-width: 50em) {
    .barber__list {
        justify-content: space-between;
    }
} */

.barber__item--left {
    margin-right: 8rem;
}

/* @media only screen and (max-width: 50em) {
    .barber__item--left {
        margin-right: auto;
    }
} */

.barber__photo {
    height: 10rem;
    width: 10rem;
    border-radius: 3px;
}

.barber__rating {
    margin-top: 2rem;
    font-size: 1.8rem;
}

.fa-star {
    color: blue;
    margin-right: 1rem;
}

/* .barber__item--right {
    margin-left: 20rem
}

@media only screen and (max-width: 50em) {
    .barber__list {
        margin-left: none;
    }
} */

.barber__shop-name {
    color: #363636;
    font-size: 2.5rem;
}

.barber__location {
    color: #b3b3b3;
}

.barber__tagline {
    font-size: 1.8rem;
    color: #363636;
    /* width: 30rem; */
}

/* @media only screen and (max-width: 50em) {
    .barber__tagline {
        width: 10rem;
    }
} */


/* full list */

.section-full-list {
    margin-top: 4rem;
    margin-bottom: 12rem;
    position: relative;
}

.view-all-barber {
    position: absolute;
    top: 0;
    right: 0;
    padding: .7rem;
    font-size: 1.3rem;
    border: 1px solid #14274e;
    background-color: #f1f6f9;
    color: #394867;
    border-radius: 5px;
    transition: transform .3s;
}

.view-all-barber:hover {
    transform: translateY(-3px);
}